
*{
    margin:0px;
    padding:0px;
}
/*Titre*/
h1{
    text-align: center;
    height: 50px;
    width:100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: rgba(8, 83, 152, 0.9);
}
/*Menu*/
nav{
    width:100%;
    background-color:rgb(32,100,162);
    border:1px solid white;
    color:white;
    position: fixed;
}
nav ul{
    margin:0px;
    padding:0px;
    overflow:hidden;
}
nav li{
    list-style-type:none;
    float:left;
}
nav a{
    display:inline-block;
    text-decoration:none;
    padding:20px 30px;
}


